<?xml version="1.0"?>
<!-- 
  For more information on how to configure your ASP.NET application, please visit  http://go.microsoft.com/fwlink/?LinkId=169433
 -->
<configuration>
  <system.web>
    <!--Only use in development, other target frameworks may work as well -->
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="5" />
  </system.web>
</configuration>