ul#css3MainMenu,ul#css3MainMenu ul{
	margin:0;list-style:none;padding:0;background-color:#D8D8D8;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAK8CAYAAAAu3tULAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oJGA0jIR3UfIQAAACiSURBVEjH7ZbNCgMhDIS//LxB3/8Ve+iph6XpqRaDC4V1S5C9DImBMZlREeCmAA2kT4+AzaOSQg1JNXFQQEv6ZsuxTKTyau6XG2v2Jakpu695SRY93na92f8bUEuKrZU+NhYRDwW2Bs9vREQ4n42sgbbI+zUfFHxQTWkiTan0kSrwOuNtr/mhOgXurUkZ6Kw92I+++Z6XvkeVzlXq5bJ7GrwBxcIVRiNdtAgAAAAASUVORK5CYII=");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ul#css3MainMenu ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#FFF;background-image:none;border-width:1px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-style:solid;border-color:#d8d9da;padding:0 9px 9px;}
ul#css3MainMenu li:hover>*{
	display:block;}
ul#css3MainMenu li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3MainMenu li:hover{
	z-index:1;}
ul#css3MainMenu{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;
	*display:inline;}
* html ul#css3MainMenu li a{
	display:inline-block;}
ul#css3MainMenu>li{
	margin:0;}
ul#css3MainMenu a:active, ul#css3MainMenu a:focus{
	outline-style:none;}
ul#css3MainMenu a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Arial;color:#262626;cursor:default;padding:5px 1px 5px 1px;background-color:#D8D8D8;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAK8CAYAAAAu3tULAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oJGA0jIR3UfIQAAACiSURBVEjH7ZbNCgMhDIS//LxB3/8Ve+iph6XpqRaDC4V1S5C9DImBMZlREeCmAA2kT4+AzaOSQg1JNXFQQEv6ZsuxTKTyau6XG2v2Jakpu695SRY93na92f8bUEuKrZU+NhYRDwW2Bs9vREQ4n42sgbbI+zUfFHxQTWkiTan0kSrwOuNtr/mhOgXurUkZ6Kw92I+++Z6XvkeVzlXq5bJ7GrwBxcIVRiNdtAgAAAAASUVORK5CYII=");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#css3MainMenu ul li{
	float:none;margin:9px 0 0;}
ul#css3MainMenu ul a{
	text-align:left;padding:8px 0 0 0;background-color:#FFF;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#D9D9D9;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;font:13px Arial;color:#333333;text-decoration:none;}
ul#css3MainMenu li:hover>a,ul#css3MainMenu li a.pressed{
	background-color:#C0C0C0;border-style:none;color:#efefef;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAK8CAYAAAAu3tULAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oJGA0jIR3UfIQAAACiSURBVEjH7ZbNCgMhDIS//LxB3/8Ve+iph6XpqRaDC4V1S5C9DImBMZlREeCmAA2kT4+AzaOSQg1JNXFQQEv6ZsuxTKTyau6XG2v2Jakpu695SRY93na92f8bUEuKrZU+NhYRDwW2Bs9vREQ4n42sgbbI+zUfFHxQTWkiTan0kSrwOuNtr/mhOgXurUkZ6Kw92I+++Z6XvkeVzlXq5bJ7GrwBxcIVRiNdtAgAAAAASUVORK5CYII=");background-position:0 100px;text-decoration:none;}
ul#css3MainMenu img{
	border:none;vertical-align:middle;margin-right:5px;}
ul#css3MainMenu span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3MainMenu ul li:hover>a,ul#css3MainMenu ul li a.pressed{
	background-color:#FFF;background-image:none;border-style:solid;border-color:#D9D9D9;color:#00aaff;text-decoration:none;}
ul#css3MainMenu li.clTopFirst>a{
	border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#d8d8d8 0px 1px 1px;}
ul#css3MainMenu li.clTopFirst:hover>a,ul#css3MainMenu li.clTopFirst a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3MainMenu li.clTopMenu>a{
	text-shadow:#d8d8d8 0px 1px 1px;}
ul#css3MainMenu li.clTopMenu:hover>a,ul#css3MainMenu li.clTopMenu a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3MainMenu li.clTopLast>a{
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;text-shadow:#d8d8d8 0px 1px 1px;}
ul#css3MainMenu li.clTopLast:hover>a,ul#css3MainMenu li.clTopLast a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3MainMenu _>li>a{
	padding:0;}
ul#css3MainMenu li.clSubFirst>a{
	border-width:0;border-style:none;padding:0;}
ul#css3MainMenu li.clSubFirst:hover>a,ul#css3MainMenu li.clSubFirst a.pressed{
	border-style:none;}