/* not easy to combine the box class names and use inheritance so leave them be as is */
 .clASPMulti  /* properties of SK cell when > 1 values are to be displayed */
 {
     overflow: hidden; 
     height:45px;           /* was 31/28 */
     width:45px;
     border-style:none;  
     border-width:0px;
     background-color:#C0C0C0;
     font-family:"Courier New", Courier, monospace;
     color:Black;           
     font-size:small;
     padding:0px; 
     vertical-align:middle;
     resize:none;   /* gets rid of chevron on other browsers */
 }
 .clASPOneP /* new or changed values in a case properties of SK cell when one value is to be displayed */
 {
     overflow: hidden;
     height:45px;           /* was 31/28 */
     width:45px;
     border-style:none;  
     border-width:0px;
     background-color:#C0C0C0;          /* grey */
     color:green;   /* V13 */
     font-weight:bold;   /* V13 */       
     font-family:"Courier New", Courier, monospace;
     font-size:xx-large;
     padding:1px 0px 0px 0px;
     text-align:center;f
     /*vertical-align:-10px; should drop scalar below center line but no effect */
     resize:none;    /* gets rid of chevron on other browsers */
 }
  .clASPStart /*Initial value of case */
 {
     overflow: hidden;
     height:45px;           /* was 31/28 */
     width:45px;
     border-style:none;  
     border-width:0px;
     background-color:#C0C0C0;   /*grey not used i think*/
     color:Black;           
     font-weight:900;
     font-family:"Courier New", Courier, monospace;
     font-size:xx-large;
     padding:0px;
     text-align:center;
     padding:1px 0px 0px 0px;
     /*vertical-align:-10px; should drop scalar below center line but no effect*/
     resize:none;    /* gets rid of chevron on other browsers */
 }
 .clTableCell
 {   
  overflow:hidden;
  background-color:White;
 }
  .clWrapper  
 {
     background-color:#C0C0C0;  /* grey */
 }
 .htmlKey 
 {
     height:20px;
     width:27px;
     font-size:small;
     padding-right:20px;
     background-color:#A0A0A0;  /*dark grey*/
     text-align:center;
     border-style:outset;
 }
 .htmlButtons
 {
     border-style:none;
     padding-bottom:10px;
     padding-top:10px;
 }
 .clASPHints 
 {
     /*background: #A4D5D8;  10.0 and before same as highlighed cell from javascript*/ 
     background: #FCFCFC; /* 10.1 make background same as the body - very cool */
     width:auto;
     font-size:large;
 }
 .clComments   
 {
     font-family: Tahoma, Helvetica, sans-serif;
     font-size:small;
 }
 .clCommands
 {
   padding-bottom:1px; /* 10.1 make smaller gap between commands and grid */  
 }
/* entire background */
body
{
    background-color: #D8D8D8;  /*grey*/
}

/* HEADINGS */
.myBanner           /*table sizes at top of screen */
{
   height: auto;
   margin-top:1px;
   margin-bottom:1px;
   padding:1px;
}
h1
{  
  font-family: Ravie, Helvetica, sans-serif;   
    font-size:large;
    text-align: left;
    border-width:1px; 
    display:inline;
    vertical-align:central;
}

h2
{  
    font-family: Tahoma, Helvetica, sans-serif; 
    font-size:small;
    text-align:right;
    display:inline;
    vertical-align:central;
}

h3  /* used for copyright message*/
{   
    font-family: Tahoma, Helvetica, sans-serif; 
    font-size:small;
    text-align:left;
    display:inline;
    vertical-align:central;
}
li
{
    font-size: small;
}
p
{
    font-size: small;
}
/* idFooter*/

#idFooter
{
    background: #D8D8D8;  /*grey*/
	clear: both;
	height: 30px;
	margin: 0 auto;
    text-align:center;
}

#idFooter p {
	margin: 0;
	padding: 10px 0px;
	font-size: small;
}

/* Hyperlinks Main Menu used PSEUDO CLASS NAMES P180 */

a:link{color: Black;}
a:visited{color: Black;}
a:hover{color: Yellow;}
a:active{color: Orange;}

/* tab slash menu formatting */
.clMenu
{
    background: #D8D8D8;
    border: 3px;
    border-spacing: 8px;
    border-style: groove; 
}
.clOptPage      /* container for options page */
 {
 margin-left:auto;
 margin-right:auto;
 width:70%;
 display: none;
 }
.clOptButtons {
 background-color:#A0A0A0;   /*dark grey*/
}
#idOptBanner {
    font-family: Tahoma, Helvetica, sans-serif; 
    font-size:medium;
}
/*                                 TopMenu class definitions  */
                                    /* Icon image properties */
.clButtons {
    height: 32px;
    line-height: 32px; 
    padding-left:10px;
    padding-top:4px;
    border:none;
    vertical-align:middle;
    margin-right:3px;
}
/* #id or .class */